body {
    font-family: 'Open Sans', sans-serif;
    max-width: 500px;
    margin: 0 auto;
}

.messages {
    margin-bottom: 20px;
}

.out-message {
    padding: 5px;
    background-color: lightblue;
}

.in-message {
    padding: 5px;
    background-color: lightseagreen;
}

button{
    height: 20px;
    width: 50px;
    border-radius: 10px;
  
}

#send-button {
    background-color: lightblue;
    
}

#reply-button {
    background-color: lightseagreen;
    
}